.contenedorRegistro{
    text-align: center;
    padding: 2%;
}
.cont{
    display: flex;
    justify-content: center;
}
.divCalendario{
    border: solid 1px black;
    width: 400px;
}
.divTabla{
    padding: 3%;
}
table{
    width: 100%;
}
th{
    background-color: rgb(73, 123, 205);
}

